{{ #countryGroups }}
<div class="hide" id="countries-{{ group }}">
  {{ #countries }}
    <button data-country="{{ country }}">
      <span class="flag-icon flag-icon-{{ code }} flag-icon-squared"></span> {{ country }}
    </button>
  {{ /countries }}
</div>
{{ /countryGroups }}