{{ #countryGroups }}
<div class="hide" id="countries-{{ group }}" data-group={{ group }}>
  {{ #countries }}
    <button data-country="{{ country }}">
      <span class="flag-icon flag-icon-{{ countryCode }} flag-icon-squared"></span> {{ country }}
    </button>
  {{ /countries }}
</div>
{{ /countryGroups }}