{{ #parties }}
<div class="party-list-group">
  {{ #values }}
  <div id="party-list-item-{{ partyId }}" class="party-list-item" data-party-id="{{ partyId }}">
    <div class="area-header party-year">
      <small>
        {{ electionYear }} in {{ country }} <span class="flag-icon flag-icon-{{ countryCode }} flag-icon-squared"></span>
      </small>
    </div>
    <div class="area-left party-share-chart"></div>
    <div class="area-center party-name">
      {{ partyOrig }} ({{ partyAbbr }})
    </div>
    <div class="area-right party-position-chart"></div>
    <div class="area-footer party-hidden-info-wrapper">
      <div class="party-hidden-info">
        {{ &info }}
      </div>
    </div>
  </div>
  {{ /values }}
</div>
{{ /parties }}