{{ #parties }}
<div class="party-list-group">
  {{ #values }}
  <div id="party-list-item-{{ partyId }}" class="party-list-item">
    <div>
      <small class="party-year">{{ electionYear }} in {{ country }}</small>
      <div class="party-description">
        <div class="party-chart-and-name">
          <div class="party-share-chart"></div>
          <div class="party-name">{{ partyOrig }} ({{ partyAbbr }})</div>
        </div>
      </div>
    </div>
    <div class="party-position-chart"></div>
  </div>
  {{ /values }}
</div>
{{ /parties }}