html {
  height: 100%;
  box-sizing: border-box;
  color: #212529;
  background-color: #fff; }
  html *,
  html *:after,
  html *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0; }

body {
  height: 100%;
  display: flex; }

main {
  flex: 1 0 80vw; }
  main .overview {
    background-color: aliceblue;
    height: 100px;
    padding: 1rem 2rem; }
    main .overview h1 {
      display: inline; }

.panel {
  border-left: 1px solid black;
  flex: 0 1 20vw;
  padding: 1rem; }

#party-list {
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth; }
  #party-list .party-list-group {
    border-radius: 10px;
    background-color: #f8f9fa; }
    #party-list .party-list-group:not(:last-child) {
      margin-bottom: 2rem; }
    #party-list .party-list-group .party-list-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.25rem;
      border-radius: 10px; }
      #party-list .party-list-group .party-list-item > * {
        pointer-events: none; }
      #party-list .party-list-group .party-list-item:not(:last-child) {
        margin-bottom: 0.25rem; }
      #party-list .party-list-group .party-list-item:is(.active, :hover) {
        background-color: bisque; }
    #party-list .party-list-group .party-chart-and-name {
      display: flex; }
    #party-list .party-list-group .party-name {
      line-height: 1;
      margin: 0 5px; }
    #party-list .party-list-group .party-year {
      margin-left: 21px; }

#chart-wrapper {
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center; }

#select-vote-share {
  display: inline; }
  #select-vote-share .form-group {
    display: inline-block; }
    #select-vote-share .form-group input {
      vertical-align: middle; }

.side-lines {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center; }
  .side-lines:before, .side-lines:after {
    content: "";
    display: inline-block;
    width: 50%;
    margin: 0 0.5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid; }
  .side-lines:after {
    margin: 0 -55% 0 0.5em; }

.select-countries .country-groups .active {
  background-color: lavender; }

.select-countries #countries .active {
  background-color: khaki; }

.hide {
  display: none; }

h1 {
  font-size: 1.6rem; }

.flag-icon-squared {
  border-radius: 50%; }
