html {
  height: 100%;
  box-sizing: border-box;
  color: #212529;
  background-color: #fff; }
  html *,
  html *:after,
  html *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0; }

body {
  height: 100%;
  display: flex; }

main {
  flex: 1 0 80vw; }
  main .overview {
    background-color: aliceblue;
    height: 150px;
    padding: 1rem 2rem; }
    main .overview h1 {
      display: inline; }

.panel {
  border-left: 1px solid black;
  flex: 0 1 20vw; }

#party-list {
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  padding: 2rem 1rem; }
  #party-list .party-list-group {
    border-radius: 10px;
    background-color: #f8f9fa; }
    #party-list .party-list-group .party-list-item {
      display: grid;
      grid-template-columns: 4fr 4fr 2fr;
      grid-template-areas: "header header right" "center center right" "footer footer footer";
      padding: 0.5rem;
      border-radius: 10px; }
      #party-list .party-list-group .party-list-item:last-child {
        margin-bottom: 2rem; }
      #party-list .party-list-group .party-list-item:is(.active, :hover) {
        background-color: bisque;
        cursor: pointer; }
      #party-list .party-list-group .party-list-item .area-header {
        grid-area: header; }
      #party-list .party-list-group .party-list-item .area-center {
        grid-area: center; }
      #party-list .party-list-group .party-list-item .area-right {
        grid-area: right;
        text-align: right;
        align-self: end;
        justify-self: center; }
      #party-list .party-list-group .party-list-item .area-footer {
        grid-area: footer; }
      #party-list .party-list-group .party-list-item .party-hidden-info-wrapper {
        transition: height 0.5s ease-out;
        height: 0;
        overflow: hidden; }
        #party-list .party-list-group .party-list-item .party-hidden-info-wrapper .party-hidden-info {
          background-color: lavender; }

#chart-wrapper {
  height: calc(100% - 150px);
  display: flex;
  justify-content: center;
  align-items: center; }

#select-vote-share {
  display: inline; }
  #select-vote-share .form-group {
    display: inline-block; }
    #select-vote-share .form-group input {
      vertical-align: middle; }

.side-lines {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center; }
  .side-lines:before, .side-lines:after {
    content: "";
    display: inline-block;
    width: 50%;
    margin: 0 0.5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid; }
  .side-lines:after {
    margin: 0 -55% 0 0.5em; }

.select-countries .country-groups .active {
  background-color: lavender; }

.select-countries #countries .active {
  background-color: khaki; }

.hide {
  display: none; }

h1 {
  font-size: 1.6rem; }

.flag-icon-squared {
  border-radius: 50%; }

#input-year:valid {
  background-color: lightgreen; }

#input-year:invalid {
  background-color: coral; }
