.chart-container {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 2rem; }

.chart-container-country {
  display: flex;
  align-items: center;
  margin: 1rem; }

.chart-container svg,
.chart-container-country svg {
  display: block;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  overflow: visible; }

.chart-container .label,
.chart-container-country .label {
  font-size: 10px; }
