.brush .selection {
  fill: transparent;
  pointer-events: none;
  stroke: transparent; }

.brush .handle--n {
  display: none; }

.brush .handle--s {
  fill: currentColor; }

.party.active:hover {
  cursor: pointer; }

.party-position-chart > svg {
  overflow: visible; }
