$spacing: 2rem;

$underline-width: 3px;
$underline-padding: 4px;

$black: #212529;
$gray: #b8bfc6;
$lightgray: #f8f9fa;

$accent: hsl(28, 96%, 58%);
$accent-light: hsl(28, 96%, 95%);

$families: right, lib, con, chr, agr, eco, soc, com, spec, other;

$political-colors: (
  right: hsl(208, 60%, 33%),
  right-light: hsl(208, 60%, 95%),
  con: hsl(206, 69%, 44%),
  con-light: hsl(206, 69%, 95%),
  lib: hsl(43, 91%, 68%),
  lib-light: hsl(43, 91%, 95%),
  chr: hsl(0, 0%, 20%),
  chr-light: hsl(0, 0%, 95%),
  agr: hsl(36, 64%, 50%),
  agr-light: hsl(36, 64%, 95%),
  eco: hsl(106, 44%, 40%),
  eco-light: hsl(106, 44%, 95%),
  soc: hsl(3, 69%, 44%),
  soc-light: hsl(3, 69%, 95%),
  com: hsl(4, 81%, 26%),
  com-light: hsl(4, 81%, 95%),
  spec: hsl(0, 0%, 46%),
  spec-light: hsl(0, 0%, 95%),
  other: hsl(0, 0%, 46%),
  other-light: hsl(0, 0%, 95%),
);
