$spacing: 2rem;

$underline-width: 3px;
$underline-padding: 4px;

$black: #212529;
$lightgray: #f8f9fa;

$accent: #ff7f0f;
$accent-light: #fff1e5;

$color-right-dark: #215685;
$color-right-medium: #99c2e6;
$color-right-light: #ebf3fa;

$color-lib-dark: #f8cf63;
$color-lib-medium: #fad985;
$color-lib-light: #fef7e7;

$color-con-dark: #333333;
$color-con-medium: #bfbfbf;
$color-con-light: #f2f2f2;

$color-chr-dark: #4e9eab;
$color-chr-medium: #a7d0d7;
$color-chr-light: #edf6f7;

$color-agr-dark: #6b5840;
$color-agr-medium: #cfc1af;
$color-agr-light: #f5f3ef;

$color-eco-dark: #458132;
$color-eco-medium: #b1dba3;
$color-eco-light: #eff8ed;

$color-soc-dark: #b63420;
$color-soc-medium: #ec9e93;
$color-soc-light: #fbece9;

$color-com-dark: #7540a0;
$color-com-medium: #c2a4db;
$color-com-light: #f3edf8;

$color-spec-dark: #595959;
$color-spec-medium: #bfbfbf;
$color-spec-light: #f2f2f2;

$color-other-dark: #767676;
$color-other-medium: #bfbfbf;
$color-other-light: #f2f2f2;
