$space-grotesk-font-path: '../../fonts/space-grotesk';
$roboto-font-path: '../../fonts/roboto';

@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: bold;
  src: local('Space Grotesk Bold'), local('Space-Grotesk-Bold'),
    url('#{$space-grotesk-font-path}/space-grotesk-bold.woff2') format('woff2'),
    url('#{$space-grotesk-font-path}/space-grotesk-bold.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
    url('#{$roboto-font-path}/roboto-v20-latin-100.woff2') format('woff2'),
    url('#{$roboto-font-path}/roboto-v20-latin-100.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
    url('#{$roboto-font-path}/roboto-v20-latin-300.woff2') format('woff2'),
    url('#{$roboto-font-path}/roboto-v20-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('#{$roboto-font-path}/roboto-v20-latin-regular.woff2') format('woff2'),
    url('#{$roboto-font-path}/roboto-v20-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('#{$roboto-font-path}/roboto-v20-latin-500.woff2') format('woff2'),
    url('#{$roboto-font-path}/roboto-v20-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('#{$roboto-font-path}/roboto-v20-latin-700.woff2') format('woff2'),
    url('#{$roboto-font-path}/roboto-v20-latin-700.woff') format('woff');
}
