@import "global";

html {
  height: 100%;
  box-sizing: border-box;

  *,
  *:after,
  *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

body {
  height: 100%;
  display: flex;
}

main {
  flex: 1 0 75vw;
}

.panel {
  border-right: 1px solid black;
  flex: 0 1 25vw;
  display: flex;
  flex-direction: column;
  padding: $spacing / 2;

  .overview {
    background-color: aliceblue;
  }

  #party-list {
    background-color: lavender;
    flex: 1 0 auto;
  }
}

#chart-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #main-chart {
    width: 90%;
    max-width: 1200px;
  }
}

.form-group {
  input {
    vertical-align: middle;
  }
}
