@import "global";

html {
  height: 100%;
  box-sizing: border-box;
  color: $black;
  background-color: $white;

  *,
  *:after,
  *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

body {
  height: 100%;
  display: flex;
}

main {
  flex: 1 0 75vw;
}

.panel {
  border-right: 1px solid black;
  flex: 0 1 25vw;
  padding: $spacing / 2;

  .overview {
    background-color: aliceblue;
    height: 200px;
  }

  #party-list {
    background-color: lavender;
    height: calc(100% - 200px);
    overflow: auto;
  }
}

.party-list-group {
  &:not(:last-child) {
    margin-bottom: $spacing / 2;
  }

  .party-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: $spacing / 8;
    }
  }

  .party-chart-and-name {
    display: flex;
  }

  .party-name {
    line-height: 1;
    margin: 0 5px;
  }

  .party-year {
    // width of svg + left margin of party name
    margin-left: 26px;
  }
}

#chart-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #main-chart {
    max-width: 1200px;
  }
}

.form-group {
  input {
    vertical-align: middle;
  }
}

.side-lines {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;

  &:before,
  &:after {
    content: "";
    display: inline-block;
    width: 50%;
    margin: 0 0.5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
  }

  &:after {
    margin: 0 -55% 0 0.5em;
  }
}

.button-group.active {
  background-color: lavender;
}
