@import "global";

html {
  height: 100%;
  box-sizing: border-box;
  color: $black;
  background-color: $white;

  *,
  *:after,
  *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
}

body {
  height: 100%;
  display: flex;
}

main {
  flex: 1 0 80vw;

  .overview {
    background-color: aliceblue;
    height: 150px;
    padding: $spacing / 2 $spacing;

    h1 {
      display: inline;
    }
  }
}

.panel {
  border-left: 1px solid black;
  flex: 0 1 20vw;
}

#party-list {
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  padding: $spacing $spacing / 2;

  .party-list-group {
    border-radius: 10px;
    background-color: $lightgray;
    margin-bottom: $spacing;

    .party-list-item {
      display: grid;
      grid-template-columns: 4fr 4fr 2fr;
      grid-template-areas:
        "header header right"
        "center center right"
        "footer footer footer";
      padding: $spacing / 4;
      border-radius: 10px;

      &:is(.active, :hover) {
        background-color: bisque;
        cursor: pointer;
      }

      .area-header {
        grid-area: header;
      }

      .area-center {
        grid-area: center;
      }

      .area-right {
        grid-area: right;
        text-align: right;
        align-self: end;
        justify-self: center;
      }

      .area-footer {
        grid-area: footer;
      }

      .party-hidden-info-wrapper {
        transition: height 0.5s ease-out;
        height: 0;
        overflow: hidden;

        .party-hidden-info {
          background-color: lavender;
        }
      }
    }
  }
}

#chart-wrapper {
  height: calc(100% - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#select-vote-share {
  display: inline;

  .form-group {
    display: inline-block;

    input {
      vertical-align: middle;
    }
  }
}

.side-lines {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;

  &:before,
  &:after {
    content: "";
    display: inline-block;
    width: 50%;
    margin: 0 0.5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
  }

  &:after {
    margin: 0 -55% 0 0.5em;
  }
}

.select-countries {
  .country-groups {
    .active {
      background-color: lavender;
    }
  }

  #countries {
    .active {
      background-color: khaki;
    }
  }
}

.hide {
  display: none;
}

h1 {
  font-size: 1.6rem;
}

.flag-icon-squared {
  border-radius: 50%;
}
