@import "global";

.brush {
  .selection {
    stroke: transparent;
    fill: transparent;
    pointer-events: none;
  }

  .handle--n {
    display: none;
  }

  .handle--s {
    fill: currentColor;
  }
}

.party.active:hover {
  cursor: pointer;
}

.party-position-chart > svg {
  overflow: visible;
}