@import "global";

.brush {
  .selection {
    stroke: transparent;
    fill: transparent;
    pointer-events: none;
  }

  .handle--s {
    display: none;
  }

  .handle--n {
    fill: currentColor;
  }
}
